# The Cardano Node service (part of systemd)
# file: /etc/systemd/system/cardano-node.service

[Unit]
Description=Cardano Node
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=60
User=${USER}
LimitNOFILE=1048576
WorkingDirectory=${CNODE_HOME}/scripts
ExecStart=/bin/bash -l -c \"exec ${CNODE_HOME}/scripts/startCardanoNode.sh\"
ExecStop=/bin/bash -l -c \"exec ${CNODE_HOME}/scripts/startCardanoNode.sh -s\"
KillSignal=SIGINT
SuccessExitStatus=143
SyslogIdentifier=${CNODE_VNAME}
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
